@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Source+Code+Pro:wght@300;400;500&display=swap');

:root {
    --background: #090909;
    --background-gradient: linear-gradient(180deg, #090909, #04040f);
    --text: #A2A2A2;
    --text-bold: #D2D2D2;
    --highlight: #ff7300;
    --highlight-dark: #ff5100;
    --higlight-gradient-dark: linear-gradient(180deg, var(--highlight-dark), var(--highlight));
    --highlight-opa: #4444443d;
    --highlight-transparent: rgba(255, 115, 0, 0.2);
    --font-one: 'Cormorant Garamond', serif;
    --font-two: 'Open Sans', sans-serif;
    --font-three:'Source Code Pro', monospace;
}

/*** GENERAL ***/

body {
    background: var(--background);
    background: var(--background);
    color: var(--text);
    font-size: 1.2rem;
}


/*** HEADER ***/

header h1 a,
header h1 a:not(.home) {
    color: var(--text-bold);
    font-family: var(--font-one);
    font-size: 2.5rem;
    font-style: italic;
    text-align: center;
}

#post nav a:not(.home),
#post header a.pinned,
header nav a,
header nav a.pinned,
header a {
    transition: all .2s ease-in-out;
    font-style: italic;
}

header nav a:hover,
#post header a.pinned:hover,
header nav a.pinned:hover,
header nav a:not(.home):hover {
    color: var(--highlight);
    text-decoration: none;
}

/*** HOME and TAGS ARCHIVES ***/

body#collection section#wrapper,
body#subpage section#wrapper {
    max-width: 60rem;
}

body#collection .post-title a,
body#subpage .post-title a {
    color: var(--text-bold);
    font-family: var(--font-one);
    font-size: 2.5rem;
}

body#collection .post-title,
body#subpage .post-title {
    padding-left: 1rem;
    margin-bottom: 1.5rem;
    border-left-style: solid;
    border-color: var(--highlight);
    border-left-width: .2rem;
    transition: padding-left .4s ease-in-out, border-color .2s ease-in-out;
}

body#collection .post-title:hover,
body#subpage .post-title:hover {
    padding-left: .15rem;
    border-color: transparent;
}

body#collection .post-title a:hover,
body#subpage .post-title a:hover {
    text-decoration: none;
    color: var(--highlight);
}

body#collection article p,
body#subpage article p {
    font-family: var(--font-two);
}

body#collection article p a,
body#subpage article p a,
#paging a {
    color: var(--text-bold);
    transition: all .2s ease-in-out
}

body#collection article p a:hover,
body#subpage article p a:hover,
#paging a:hover {
    color: var(--highlight);
    text-decoration: none;
}

body#collection a.read-more,
body#subpage a.read-more {
    color: default;
    font-family: var(--font-two);
    transition: all .2s ease-in-out
}

body#collection a.read-more:hover,
body#subpage a.read-more:hover {
    color: var(--highlight);
    text-decoration: none;
}

body#collection article time.dt-published,
body#collection #wrapper time, 
body#subpage #wrapper time {
    font-family: var(--font-two);
    font-size: 1rem;
    color: var(--text);
}

/*** ARTICLE ***/

body#post article {
    padding: 4rem 3rem;
    background-color: white;
    color: var(--background);
    box-shadow: rgb(76 170 175 / 20%) 0px 13px 27px -5px, rgb(120 35 160 / 10%) 0px 40px 100px -38px;
    border-radius: 5px;
    font-family: var(--font-two);
    max-width: 50rem;
}

body#post article h2#title {
    font-family: var(--font-one);
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 3rem;
    line-height: 3rem;
}

body#post article h2,
body#post article h3,
body#post article h4,
body#post article h5,
body#post article .e-content p {
    font-family: var(--font-two);
}

body#post article .e-content p a,
body #post article ol a,
body #post article ul a,
body#post article ol a,
body#post article ul a {
    color: var(--background);
    border-bottom: solid 2px var(--highlight);
    background: transparent;
    transition: border-bottom .6s ease-in-out, background .3s ease-in-out
}

body#post article .e-content p a:hover,
body #post article ol a:hover,
body #post article ul a:hover,
body#post article ol a:hover,
body#post article ul a:hover {
    color: var(--background);
    border-bottom: solid 2px transparent;
    background: var(--highlight-transparent);
    text-decoration: none;
}

body #post blockquote,
body#collection blockquote,
body#post blockquote,
body#subpage blockquote {
    border-left: 4px solid var(--highlight);
}

body #post blockquote p,
body#collection blockquote p,
body#post blockquote p,
body#subpage blockquote p {
    font-style: italic;
    color: var(--background);
}

body #post article ol,
body #post article ul,
body#post article ol,
body#post article ul {
    color: var(--background)
}

body #post article ol li::marker,
body #post article ul li::marker,
body#post article ol li::marker,
body#post article ul li::marker {
    color: var(--highlight);
}

body#post article time.dt-published {
    font-size: 1rem;
    font-family: var(--font-two);
}

/*** TAGS ***/

body#post article .e-content p a.hashtag {
    text-decoration: none;
    font-family: var(--font-three);
    font-size: 1.2rem;
    border-bottom: none 0px transparent;
}

a.hashtag>span:first-child {
    color: var(--highlight);
}

a.hashtag:hover span,
span.p-category:hover {
    text-decoration: none;
}

body#post article h2#title:before {
    content: "#";
    font-family: var(--font-three);
    font-weight: 500;
    margin-right: 1rem;
    color: var(--highlight)
}

/*** TAGS SUBPAGES ***/
body#subpage #wrapper h1 {
    font-family: var(--font-three);
    color: var(--text-bold);
}

body#subpage #wrapper h1:before {
    content: "#";
    margin-right: .3rem;
    color: var(--highlight)
}

/*** NEWSLETTER SUBSCRIBE ***/

/* #emailsub:before {
  content: "?";
  font-size: 2.5rem;
} */


#emailsub form input {
    font-family: var(--font-two);
}

#emailsub form input#subscribe-btn,
input[type=submit] {
    background-color: var(--highlight-opa);
    border-color: var(--highlight-opa);
}

#emailsub form input#subscribe-btn:hover,
input[type=submit]:hover {
    background-color: var(--highlight-dark);
    cursor: pointer;
    letter-spacing: 1.1px;
}

/*** IMAGES ***/

/* This might cause issues with PNG images. Commented because now animations are enabling it. */
body#post article .e-content p:not(:first-child) img {
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/*** FOOTER ***/

footer p {
    color: var(--text);
}

footer p a,
body footer a.home:link,
body footer a.home:visited {
    color: var(--text-bold);
}

footer p a:hover,
body footer nav a.home:hover {
    color: var(--highlight)
}

/*** TOP SHADOW/LIGHT ***/
footer:before {
    content: "";
    display: block;
    position: absolute;
    left: 10%;
    top: 0%;
    right: 0%;
    bottom: auto;
    width: 100%;
    height: 100px;
    max-width: 80%;
    margin-top: -100px;
    box-shadow: 0 50px 120px 0 rgb(76 170 175 / 20%), 0 30px 50px 0 rgb(120 35 160 / 10%), 0 17px 40px 0 rgb(9 9 9 / 10%), 0 4px 16px 0 rgb(9 9 9 / 20%);
    opacity: 1;
}

/*** MEDIA QUERIES ***/

/* Mobile */

@media screen and (max-width: 550px) {
    header {
        display: flex;
        flex-direction: column;
    }

    header nav {
        display: flex;
        justify-content: space-around;
    }

    header nav a {
        margin: 0;
        color: var(--text-bold);
    }

    header h1 {
        text-align: center;
        color: var(--text-bold);
        margin-bottom: .5rem;
    }

    body#post header,
    body#subpage header {
        opacity: 1;
    }
}

/*** ANIMATIONS ***/


/* ----------------------------------------------
 * Generated by Animista on 2021-6-24 10:10:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 body#post article .e-content p:first-child img {
    -webkit-animation: shadow-drop-center 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-center 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/**
 * ----------------------------------------
 * animation shadow-drop-center
 * ----------------------------------------
 */
@-webkit-keyframes shadow-drop-center {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        -webkit-filter: grayscale(1);
                filter: grayscale(1);
    }

    100% {
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        -webkit-filter: grayscale(0);
                filter: grayscale(0);
    }
}

@keyframes shadow-drop-center {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        -webkit-filter: grayscale(1);
                filter: grayscale(1);

    }

    100% {
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        -webkit-filter: grayscale(0);
                filter: grayscale(0);

    }
}


/* ----------------------------------------------
 * Generated by Animista on 2021-6-24 10:18:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

body#post article h2#title:before {
    -webkit-animation: fade-in-left 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-left 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-6-24 10:24:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-left
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-left {
    0% {
        transform: translateX(-50px);
        opacity: 0;
        -webkit-filter: grayscale(1);
                filter: grayscale(1);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
        -webkit-filter: grayscale(0);
                filter: grayscale(0);
    }
}

@keyframes fade-in-left {
    0% {
        transform: translateX(-50px);
        opacity: 0;
        -webkit-filter: grayscale(1);
                filter: grayscale(1);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
        -webkit-filter: grayscale(0);
                filter: grayscale(0);
    }
}